.mapa-calor {
    display: block;
    width: fit-content;
    border-radius: 10px;
    background-color: #E8A392;
    border: 1px solid #d14747;
    margin: 10px auto 20px auto;
}

.painel-concurso {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}