.mapa-calor {
    display: block;
    width: fit-content;
    border-radius: 10px;
    background-color: #E8A392;
    border: 1px solid #d14747;
    margin: 10px auto 20px auto;
}

.numero-concursos {
    font-weight: bold;
    margin: 10px;
}

.painel-numeros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.navegador-numeros {
    background-color: #77544b;
    border-radius: 10px;
}

.titulo {
    color: white;
    font-weight: bold;
    font-size: larger;
    margin-top: 10px;
}