.filtro {
    display: inline-block;
    margin: 20px auto;
    padding: 0.8rem;
    border-radius: 10px;
    color: white;
    line-height: 1.5rem;
    background-color: #007168;
    overflow: hidden;
}

.titulo-filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    user-select: none;
}

.titulo-filtro:hover {
    cursor: pointer;
}

.botao-filtro {
    border: none;
    align-items: center;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
}

.botao-filtro:hover {
    cursor: pointer;
}

.opcoes-filtro {
    max-height: 0;
    visibility: hidden;
    transition: max-height 0.2s linear;
}

.opcoes-filtro-visible {
    visibility: visible;
    max-height: 150px;
}