ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: white;
    font-weight: bold;
    user-select: none;
    padding: 0;
    margin: 15px 0 15px 0px;
}

li {
    padding: 5px;
}

a {
    text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
    text-decoration: none;
}