.navegador {
    display: inline-block;
    padding: 0.3rem;
    border-radius: 10px;
    color: white;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.input-data {
    width: 0;
    visibility: hidden;
}

.calendario {
    width: 20px;
    margin-left: 5px;
}

.calendario:hover {
    cursor: pointer;
}

.concurso {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    margin: 0.3rem;
}

.botao-concurso {
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
}

.botao-concurso:hover {
    cursor: pointer;
}

.botao-concurso:disabled {
    opacity: 0.3;
    cursor: default;
}

.input-concurso {
    border: none;
    font-size: 1.1rem;
    width: 4.4rem;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}