.player {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    width: 100%;
}

.mirror {
    transform: scaleX(-1);
}

.player-button {
    font-family: monospace;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 1;
}

.player-button:hover {
    cursor: pointer;
}

.player-button:disabled {
    opacity: 0.3;
    cursor: default;
}
