.premios {
    display: inline-block;
    padding: 0.8rem;
    border-radius: 10px;
    color: white;
    background: linear-gradient(135deg, #5885AF 0%, #C3E0E5 100%);
    box-shadow: 5px 5px 8px -2px #274472;
}